/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fuzzy+Bubbles&display=swap');

/* URL on where to add prefixes -- https://autoprefixer.github.io/ /*

/* Global Styles */
* {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
}

html {
    height: 100vh;
}

/* CSS gradient tutorial -- https://www.w3schools.com/css/css3_gradients.asp*/
body {

    overflow: hidden;

    max-height: 1000px;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#d3fee0), color-stop(#03a734), to(#027524));

    background-image: -o-linear-gradient(#d3fee0, #03a734, #027524);

    background-image: linear-gradient(#d3fee0, #03a734, #027524);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* Home page menu*/
.menu {

    width: 90%;

    border: 8px dotted #ffffff;
    border-radius: 10px;
    padding: 2em;

    text-align: center;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 50px;

    gap: 50px;

    position: relative;
}

h1 {
    color: black;

    margin-top: 10px;

    letter-spacing: 5px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 200%;
    font-weight: 700;
}

.btn {

    width: 80%;

    color: black;

    text-decoration: none;

    border: 5px solid #14fb5a;
    border-radius: 10px;

    font-family: 'ABeeZee', sans-serif;
    font-weight: 700;
    font-size: 100%;

    background-color: #ffffff;

    padding: .5em;

}

.btn:hover {
    border-color: #027524;
    color: #14fb5a;
}

/* How to play section */
.zookeeper-img img {
    height: 70px;
    width: 70px;

}

p {
    border: #027524;
    background-color: #ffffff;
}

.instructions {

    margin-top: 200px;

    text-align: center;

    background-color: #ffffff;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    position: absolute;

    width: 300px;
    height: 350px;

    font-family: 'ABeeZee', sans-serif;
}

.instructions p {

    margin: 15px;

    font-size: 100%;
}


/* Timer and Matches section */
.time-match-container {

    display: flex;
    flex-direction: row;

    margin: 1em;

    font-family: 'ABeeZee', sans-serif;
    font-weight: 700;

    color: black;
}

.timer {

    margin-right: 5em;
}



/* Game Section*/

.game-container {

    height: 350px;
    width: 350px;
    max-width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    position: relative;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    -webkit-perspective: 800px;
    perspective: 800px;

}

/* Box Shadow tutorial -- https://www.w3schools.com/css/css3_shadows_box.asp#:~:text=The%20CSS%20box-shadow%20property%20is%20used%20to%20apply,color%20of%20the%20shadow%20is%20the%20current%20text-color.*/

.card {

    width: 20%;
    height: 20%;

    -webkit-box-shadow: 0 4px 8px 0 #027524;

    box-shadow: 0 4px 8px 0 #027524;

    margin: 3px;

    position: relative;

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    -webkit-transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scale(1);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.face,
.back {

    position: absolute;

    width: 100%;
    height: 100%;


    border: 2px solid #027524;
}

.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Styling for the website buttons*/


.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    gap: 6em;
}



.close-btn {

    width: 30%;

    margin-left: 35%;

    border: 2px solid #027524;

    font-weight: 700;


    background-color: #ffffff;
}

/* Win and lose alert section*/

.won,
.lost {
    margin-top: 200px;

    text-align: center;

    border: 5px solid #14fb5a;
    border-radius: 10px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;

    position: absolute;

    width: 250px;
    height: 350px;

    font-family: 'ABeeZee', sans-serif;
}

.won p,
.lost p {

    margin-top: 10px;
    font-size: 120%;
}

.alerts {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 40px;
}

.alert-btn {

    text-decoration: none;
    color: black;

    background-color: #ffffff;

    border: 2px solid #03a734;
    border-radius: 10px;

    height: 40px;
    width: 80px
}

.alert-btn:hover {
    border-color: #027524;
    color: #14fb5a;
}


.hide {
    display: none;
}

/* Media Queries */

/* For screen sizes 400px - 600px */
@media screen and (min-width: 400px) {

    h1 {
        font-size: 200%;
    }

    .menu {
        width: 70%;
    }

    .instructions {

        width: 350px;
        height: 350px;
    }

    .zookeeper-img img {
        height: 100px;
        width: 100px;
    }

    .game-container {
        height: 450px;
        width: 450px;
    }

}

/* For screen sizes 600px - 800px */
@media screen and (min-width: 600px) {

    h1 {
        font-size: 250%;
    }

    .btn {
        font-size: 100%;
    }

    .menu {
        width: 50%;
    }

    .time-match-container {
        font-size: 150%;
    }

    .game-container {
        height: 700px;
        width: 700px;
    }



}

/* For screen sizes 800px - 1000px */
@media screen and (min-width: 800px) {

    h1 {
        font-size: 300%;
    }

    .btn {

        font-size: 150%;

    }

}

/* For screen sizes 1100px - 1500px */
@media screen and (min-width: 1100px) {

    .menu {
        width: 30%;
    }
}

/* For screen sizes 2000px */
@media screen and (min-width: 1500px) {
    h1 {
        font-size: 350%;
    }

    .zookeeper-img img {
        height: 150px;
        width: 150px;
    }

    .instructions p {
        font-size: 120%;
    }

    .close-btn {
        font-size: 100%;
    }

    .instructions {
        width: 600px;
        height: 400px;
    }

    .time-match-container {
        font-size: 200%;
    }

}

/* For screen sizes 2000px and up */
@media screen and (min-width: 2000px) {

    h1 {
        font-size: 400%;
    }

    .btn {
        font-size: 200%;
    }

    .instructions {
        width: 550px;
        height: 300px;
    }

    .zookeeper-img img {
        height: 170px;
        width: 170px;
    }

    .instructions p {
        font-size: 150%;
    }

    .time-match-container {
        font-size: 230%;
    }

    .game-container {
        height: 900px;
        width: 900px;
    }

}

/* For screen sizes min height 280px and in landscape */
@media screen and (min-device-height: 280px) and (max-device-height: 400px) and (orientation: landscape) {
    h1 {
        font-size: 100%;
    }

    .time-match-container {
        font-size: 100%;
    }

    .game-container {
        height: 150px;
        width: 200px;
    }

    .btn {
        font-size: 50%;
    }

    .lost,
    .won {
        margin-top: 0;

        width: 300px;
        height: 230px;
    }

    .lost p,
    .won p {
        font-size: 80%;
    }

    .menu {
        margin-top: 10px;
    }

    .instructions {
        margin-top: 120px;
    }

    .instructions p {
        font-size: 70%;
    }
}

@media screen and (min-device-height: 400px) and (max-device-height: 600px) and (orientation: landscape) {

    h1 {
        font-size: 150%;
    }

    .game-container {
        height: 250px;
        width: 300px;
    }

    .btn {
        font-size: 100%;
    }

}


@media screen and (min-device-height: 600px) and (max-device-height: 900px) and (orientation: landscape) {

    .game-container {
        height: 400px;
        width: 400px;
    }

    .btn {
        font-size: 100%;
    }

}