* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* tutorial on css style radial-gradient() -- https://www.w3schools.com/CSSref/func_radial-gradient.asp */

body {

    background: radial-gradient(white, #03c03c, #027524);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

/* Game Section*/
.game-container {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}


.card {
    height: 20%;
    width: 20%;

    margin: 2px;
}

img {
    width: 50px;
}